.chart-container {
    width: 900px;
    height: 800px;
    margin: 0 auto; 
  }
  
  .chart-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .chart-navigation button {
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chart-navigation button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  .date-range {
    font-size: 16px;
    font-weight: bold;
    margin-right: auto; 
  }

  
  .date-range.white-text {
    color: white; 
  }
  
@media screen and (max-width: 540px) {
  .view {
      width: 400px;
  }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
      width: 600px;
  }
}