.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  width: 500px;
  position: relative;
}

.modal-content h1 {
  color: #838181;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.goal-input,
.time-input,
.color {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-label,
.color-label {
  color: #838181;
  margin-right: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.modal-buttons button[type="button"] {
  background-color: #d94545;
  color: white;
}

.modal-buttons button[type="submit"] {
  background-color: #512da8;
  color: white;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #838181;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: #000;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .view {
      width: 400px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
      width: 600px;
  }
}