.footer {
    background-color: #0c0d10; 
    color: white; 
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; 
  }
  
  .footer a {
    color: #61dafb; 
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    margin: 10px 0;
  }


@media screen and (max-width: 540px) {
  .view {
      width: 400px;
  }
}

@media screen and (min-width: 540px) and (max-width: 780px) {
  .view {
      width: 600px;
  }
}
  


 

 
